main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-family: var(--title);
    font-size: 35px;
}

.sub-title {
    font-family: var(--title);
    font-size: larger;
}

.buttonMenu {
    float: right;
}

.container-converter {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

#background {
    width: 60%;
    display: flex;
    padding: 20px;
    border-radius: 14px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    background-color: #7C8483;
}

#moneda {
    font-size: 15px;
    width: fit-content;
    align-content: center;
}

#pesos {
    width: 100%;
    height: 30px;
    margin-top: -10px;
    font-family: var(--text);
}

#ops {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

#btn,
#moneda {
    border: none;
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}

#resultado {
    border-bottom: solid 1px black;
    width: 100%;
    height: 30px;
    resize: none;
    margin-top: -15px;
}

#btn:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}